<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate> 

 	  <!-- USERNAME -->
      <div class="form-group">
        <label>Username</label>
        <div class="alert alert-danger help-block" ng-show="userForm.username.$error.minlength"  role="alert">Username no mínimo 3 caracteres.</div>
        <div class="alert alert-danger help-block" ng-show="userForm.username.$error.minlength"  role="alert">Username no máximo 30 caracteres.</div>  
        <input type="text" name="username" class="form-control" ng-model="username" required ng-minlength="3" ng-maxlength="30">
      </div>
                  
      <!-- EMAIL -->
      <div class="form-group">
         <label>Email</label>
         <div class="alert alert-danger help-block" ng-show="userForm.email.$invalid && !userForm.email.$pristine"  role="alert">Informe um e-mail válido.</div>
         <div class="alert alert-danger help-block" ng-show="emailValido"  role="alert">Este e-mail já foi cadastrado.</div>
         <input type="email" name="email" class="form-control" ng-model="email" required ng-blur="validarEmail()">
      </div>
                
      <!-- Senha -->
      <div class="form-group">
        <label>Senha</label>
         <div class="alert alert-danger help-block" ng-show="userForm.senha.$error.minlength"  role="alert">Username no mínimo 3 caracteres.</div>
        <input type="password" name="senha" class="form-control" ng-model="senha" required ng-minlength="3">
     </div>
   
  	  <!--Confirmar Senha -->
      <div class="form-group">
        <label>Confirmar Senha</label>
        <div class="alert alert-danger help-block" ng-show="senha2_confirma"  role="alert">Senhas não são iquais.</div>
        <input type="password" name="senha2" class="form-control" ng-model="senha2" required ng-blur="validarSenhas()")  >
     </div>
               <div class="alert alert-danger help-block" ng-show="ver_mensagegem"  role="alert">{{mensagem}}</div>  
     <!-- SUBMIT BUTTON -->
     <button type="submit" class="btn btn-primary"  ng-disabled="(userForm.$invalid || senha2_confirma || emailValido )"  ng-click="addUsuario()" >Enviar</button>  
</form>